# Global.
/**/.DS_STORE
/**/node_modules

# WP-Scripts specific.
# We only need the CSS files, so we can ignore the rest.
build/wcmumbai2023.js
build/wcmumbai2023.asset.*
build/style-wcmumbai2023.css
package-lock.json
